<%- include template/library %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/dtable.css' />
    
    <title><%= title %></title>
      
  </head>
  <body>
    <div id="main-wrapper">
      <header><%- include template/header %></header>
      <aside><%- include template/aside %></aside>
      <footer><%- include template/footer %></footer>
      <article id="article-nav">
          <ul>
              <li><i class="fa fa-home" aria-hidden="true"></i></li>
              <li><i class="fa fa-chevron-right" style="font-size: 10px;"></i></li>
              <li><%= title %></li>
          </ul>
      </article>
      <article id="article-body">
        <!-- Title --> 
        <div id="menu-title"> <%= text  %> </div> <br>
        <!-- Topic --> 
        <div><i class="fa fa-chevron-circle-right" style="font-size: 15px;"></i> แก้ไขประเภทหวย </div> <br>

        <!-- Content --> 
        <div style="color: black; min-height: 500px; padding: 20px; ">
          <form action="admin_type/controltype" method="POST">
              <input type="text" name="typecode" value="">
              <input type="text" name="typename" value="">
              <input type="submit" name="btn" value="Add">
              <!-- <input type="submit" name="btn" value="Edit">
              <input type="submit" name="btn" value="Delete"> -->
          </form> <br>
            <% typex.forEach((i)=>{ %>
                <form action="admin_type/controltype" method="POST">
                    <input type="hidden" name="typeid" value="<%= i.TypeId %>" >
                    <input type="text" name="typecode" value="<%= i.TypeCode %>">
                    <input type="text" name="typename" value="<%= i.TypeName %>">
                    <!-- <input type="submit" name="btn" value="Add"> -->
                    <input type="submit" name="btn" value="Edit">
                    <input type="submit" name="btn" value="Delete">
                </form>
            <% }); %>
        </div>
        
      </article>
      
      
    </div>
  </body>
</html>
<%- include template/library %>